# Java / Maven
target/
*.class
*.jar
*.war
*.ear
.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
.vscode/
*.iml
.project
.classpath
.settings/
.obsidian/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Jenkins / local
.jenkins/
